.explorerSidebar {
    margin: 0;
    width: 20%;
    height: 100%;
    background-color: #000000;
    overflow-x: auto;

    .explorerError {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        white-space: nowrap;
        overflow: hidden;
        font-size: 20px;
        text-overflow: ellipsis;
    }

    .explorerItems {
        width: calc(100% - 24px);
        padding: 10px;
        border-radius: 4px;
        color: white;
        white-space: nowrap;
        overflow: hidden;
        font-size: 20px;
        text-overflow: ellipsis;
        cursor: pointer;
    }

    .explorerItems:hover {
        background-color: #414141;
    }

    .explorerItemsActive {
        background-color: #414141;
    }
}

.explorerSidebar::-webkit-scrollbar {
    width: 8px;
}

.explorerSidebar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #000000;
    border-radius: 10px;
}

.explorerSidebar::-webkit-scrollbar-thumb {
    background: #414141;
    border-radius: 10px;
}

.explorerSidebar::-webkit-scrollbar-thumb:hover {
    background: #414141;
}

.explorerChainError {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.explorerPageContent {
    flex: 1;
    padding: 20px;
    overflow-y: auto;

    .explorerHeader {
        padding: 20px 0;
        font-size: 24px;
        font-weight: bold;
    }

    .explorerListItems {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #919090;
        border-top: none;
        border-left: none;
        border-right: none;
        padding: 0 10px;
        cursor: pointer;

        .explorerListItem {
            text-align: center;
            word-wrap: break-word;
            padding: 20px 5px;
            align-items: space-between;

        }

        .explorerListItemHeader {
            font-size: 18px;
        }

        .explorerListItemHash {
            flex: 3;
        }

        .explorerListItemHeight,
        .explorerListItemMinedAt,
        .explorerListItemSize {
            flex: 1;
        }
    }

    .explorerPageNumView {
        display: flex;
        justify-content: center;
        padding: 30px 0;

        .explorerPageNum {
            border: 1px solid #000000;
            padding: 6px 12px;
            background-color: #bdbdbd;
            width: 15px;
            margin: 5px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .explorerNumOfTranx {
        display: flex;
        justify-content: center;
        align-items: center;

        .explorerNumOfTranxDiv {
            position: relative;
            padding: 0 0 0 30px;

            button {
                padding: 10px 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                background-color: #bdbdbd;
                border: 1px solid #000000;
            }

            ul {
                position: absolute;
                background: rgb(0, 0, 0);
                margin-top: 10px;
                width: 100px;
                height: 150px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                list-style: none;
                border-radius: 8px;
                opacity: 0;
                transform: translateY(-10px);
                transition: all 0.4s ease;
                overflow: hidden;
                padding-left: 0;
            }

            li {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                div {
                    color: #ffffff;
                }
            }

            li:hover {
                background-color: #949494;
            }

            button:focus+ul {
                opacity: 1;
                transform: translateY(0px);
            }
        }
    }
}

.explorerPageContent::-webkit-scrollbar {
    width: 8px;
}

.explorerPageContent::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #000000;
    border-radius: 10px;
}

.explorerPageContent::-webkit-scrollbar-thumb {
    background: #414141;
    border-radius: 10px;
}

.explorerPageContent::-webkit-scrollbar-thumb:hover {
    background: #414141;
}