.form {
  width: 50%;
  position: relative;
  height: 60px;
  overflow: hidden;
  flex-grow: 1;
  max-height: 76px;

  input {
    font-size: 16px;
    padding-top: 15px;
    width: 100%;
    height: 100%;
    background: transparent;
    color: black;
    border: none;
    outline: none;

    &:focus,
    &:valid {
      color: #3bb143;
    }
  }

  label {
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
    color: black;

    &::after {
      content: "";
      position: absolute;
      left: 0px;
      bottom: -1px;
      height: 100%;
      width: 100%;
      border-bottom: 3px solid #3bb143;
      transform: translateX(-100%);
      transition: transform 0.3s ease;
    }
  }

  .content-name {
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: all 0.3s ease;
  }
}

.form input:focus+.label-name .content-name,
.form input:valid+.label-name .content-name {
  transform: translateY(-150%);
  font-size: 14px;
  color: #3bb143;
}

.form input:focus+.label-name::after,
.form input:valid+.label-name::after {
  transform: translateX(0%);
}