.startPage {
    padding: 50px 200px;

    // .checkbox-container {
    //     position: absolute;
    //     right: 0%;
    //     transform: translate(-50%, -50%);

    //     input[type="checkbox"] {
    //         display: none;
    //     }

    //     label {
    //         cursor: pointer;
    //     }
    // }

    // .checkbox-container .checkbox {
    //     display: inline-block;
    //     width: 20px;
    //     height: 20px;
    //     background: #d0d0d0;

    //     &:after {
    //         content: "";
    //         position: absolute;
    //         width: 0px;
    //         height: 3px;
    //         background: #000000;

    //         transform: translate(6px, 13px) rotate(-45deg);
    //         transform-origin: left;
    //         transition: all 150ms;
    //         transition-delay: 0ms;
    //     }

    //     &:before {
    //         content: "";
    //         position: absolute;
    //         width: 0px;
    //         height: 3px;
    //         background: #000000;

    //         transform: translate(1px, 9px) rotate(45deg);
    //         transform-origin: left;
    //         transition: all 150ms;
    //         transition-delay: 150ms;
    //     }
    // }

    // .checkbox-container input[type="checkbox"]:checked {
    //     &~.checkbox {
    //         &:before {
    //             width: 8px;
    //             transition-delay: 0ms;
    //         }

    //         &:after {
    //             width: 15px;
    //             transition-delay: 150ms;
    //         }
    //     }
    // }

    .someForm {
        font-size: 20px;
        padding: 25px 0;

        .formComponents {
            display: flex;
            justify-self: center;
            align-items: center;

            .formHeading {
                padding: 30px 20px 0 0;
                font-size: 22px;
                width: 300px;
            }

            textarea {
                font-size: 18px;
                margin: 10px 0;
            }
        }
    }
}
